.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

body {
  font-family: "Space Mono", monospace;
  margin: 0;
  background-color: hsl(185, 41%, 84%);
}

header {
  text-align: center;
  background-color: hsl(185, 41%, 84%);
  padding: 40px;
}

header h1 {
  margin: 0;
  color: hsl(183, 100%, 15%);
  font-size: 23px;
  font-weight: 400;
  letter-spacing: 9px;
}

main {
  border-radius: 30px 30px 0 0;
  background-color: hsl(0, 0%, 100%);
  padding: 30px;
}

input {
  box-sizing: border-box;
  width: 100%;
  height: 45px;
  margin-top: 5px;
  background-color: hsl(189, 41%, 97%);
  border: none;
  border-radius: 5px;
  text-indent: 15px;
  color: hsl(183, 100%, 15%);
  font-family: inherit;
  font-size: 20px;
  font-weight: 700;
  direction: rtl;
}

input:hover {
  cursor: pointer;
}

input:focus {
  outline: none;
  border: 2px solid hsl(172, 67%, 45%);
}

.section-header {
  padding: 0;
  margin: 5px 0;
  color: hsl(183, 100%, 15%);
}

.input-container {
  position: relative;
}

.input-container > img {
  position: absolute;
  top: 20px;
  left: 18px;
}

.section-tip {
  margin-top: 30px;
}

.section-tip__buttons {
  padding-top: 12px;
  display: flex;
  flex-wrap: wrap;
  gap: 17px;
  justify-content: space-between;
}

.section-tip__buttons button,
.section-tip__buttons input {
  padding: 0;
  width: 149px;
  height: 48px;
  background-color: hsl(183, 100%, 15%);
  color: hsl(189, 41%, 97%);
  border-radius: 5px;
  border: none;
  font-family: inherit;
  font-size: 23px;
  font-weight: 700;
}

.section-tip__buttons input {
  box-sizing: border-box;
  background-color: hsl(189, 41%, 97%);
  color: hsl(183, 100%, 15%);
  margin: 0;
  text-align: center;
}

.section-tip__buttons input::placeholder {
  color: hsl(186, 14%, 43%);
}

.section-tip__buttons input:focus {
  outline: none;
  border: 2px solid hsl(172, 67%, 45%);
}

.section-tip__buttons button.active {
  background-color: hsl(172, 67%, 45%);
  color: hsl(183, 100%, 15%);
}

.section-tip__buttons button:hover {
  background-color: hsl(171, 80%, 85%);
  color: hsl(183, 100%, 15%);
  cursor: pointer;
}

.section-people {
  margin-top: 30px;
}

.section-output {
  background-color: hsl(183, 100%, 15%);
  border-radius: 15px;
  padding: 25px;
  margin: 30px 0 0 0;
}

.section-output__header {
  color: hsl(189, 41%, 97%);
  margin: 0;
}

.per-person {
  color: hsl(184, 14%, 56%);
  font-size: 13px;
  margin: 0;
}

.tip-amount {
  margin: 18px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.total {
  margin: 18px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section-output__amount {
  margin: 0;
  font-size: 30px;
  font-weight: 500;
  color: hsl(172, 67%, 45%);
}

.section-output button {
  margin: 10px 0 0 0;
  width: 100%;
  height: 50px;
  border-radius: 5px;
  border: none;
  background-color: hsl(172, 67%, 45%);
  color: hsl(183, 100%, 15%);
  font-family: inherit;
  font-size: 18px;
  font-weight: 700;
}

.section-output button:hover {
  cursor: pointer;
  background-color: hsl(171, 80%, 85%);
}

@media (min-width: 1440px) {
  main {
    border-radius: 30px;
    margin: 0 auto;
    width: 60%;
    display: flex;
    gap: 45px;
  }

  .flex-first {
    padding: 10px;
  }

  .section-tip__buttons button,
  .section-tip__buttons input {
    width: 120px;
  }

  .section-output {
    width: 315px;
    height: 315px;
    margin: 0;
    padding: 45px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .section-output__amount {
    font-size: 50px;
  }

  .section-output button {
    font-size: 20px;
  }
}
